<!DOCTYPE html>
<html>
  <head>
    <title>Spencer Schack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts.js"></script>
  </head>
  <body>
    <div id="log"></div>
    <article>
      <header class="header">
        <div class="header-media">
          <figure class="glasses" data-row="0" data-column="0"></figure>
        </div>
        <div class="header-info">
          <div class="header-title">
            Spencer Schack
          </div>
          <p class="header-description">
            Software engineer and graphic designer specializing in web development. Graduated Berkeley majoring in EECS and now living in San Francisco.
          </p>
          <a href="mailto:spencer@schacks.us" class="header-contact">
            Contact
          </a>
        </div>
      </header>
      {{#each sections}}
        <section class="section">
          <div class="section-header">
            <h1 class="section-title">
              <span>{{title}}</span>
              <hr>
            </h1>
            <p class="section-description">
              {{description}}
            </p>
          </div>
          {{#each groups}}
            {{#if title}}
              <div class="section-group">
                <h2 class="section-group-title">
                  {{title}}
                </h2>
                <hr class="section-group-rule">
                <p class="section-group-description">
                  {{description}}
                </p>
              </div>
            {{/if}}
            <div class="section-projects{{#if compact}} compact{{/if}}">
              {{#each projects}}
                <div class="section-project">
                  <div class="section-project-header">
                    <img src="/images/{{media}}" class="section-project-media" alt="">
                    <h3 class="section-project-title">{{title}}</h3>
                  </div>
                  <div class="section-project-info">
                    {{#if description}}
                      <div class="section-project-description">
                        {{description}}
                      </div>
                    {{/if}}
                    {{#if links}}
                      <nav class="section-project-links">
                        {{#each links}}
                          {{#unless @first}}
                            <span>&bull;</span>
                          {{/unless}}
                          <a href="{{href}}" target="_blank">
                            {{label}}
                          </a>
                        {{/each}}
                      </nav>
                    {{/if}}
                  </div>
                </div>
              {{/each}}
            </div>
          {{/each}}
        </section>
      {{/each}}
      <footer>
        <a href="mailto:spencer@schacks.us" class="footer-contact">
          Contact
        </a>
        <hr class="footer-rule">
        <div class="footer-copyright">
          Copyright &copy; 2017 Spencer Schack
        </div>
      </footer>
    </article>
  </body>
</html>
